//colors
@gray: #E6E6E6;
@white: #FFFFFF;
@gray--1: #F7F4F4;
@black: #000000;
@opacity: transparent;
@medium--gray: #a0a0a0;
@pink--shade: #F7F4F4;
@red--shadow: #B01E19;
@shade--red: #CD100A;
@shade--green: #8bc834;
@shade--cyan: #8FA5A2;
@medium--light--shade--gray: #AEAEAE;
@dark--shade--cyan--blue: #114c7e;
@shade-yellow: #d69813;
@no-color: transparent;
@red: #ee144e;
@cyan--blue: #B49F8C;
@taupe--gray: #8C8987;
@shade--gray: #CACACA;
